$screen: "only screen" !default;

$small: "#{$screen} and (max-width: 767px)" !default;
$medium: "#{$screen} and (min-width: 768px) and (max-width: 1008px)" !default;
$medium-up: "#{$screen} and (min-width: 768px)" !default;
$large-down: "#{$screen} and (max-width: 1007px)" !default;
$large: "#{$screen} and (min-width: 1008px)" !default;

@mixin breakpoint($point) {
  @if $point == small {
    @media #{$small} { @content; }
  }
  @else if $point == medium {
    @media #{$medium} { @content; }
  }
  @else if $point == medium-up {
    @media #{$medium-up} { @content; }
  }
  @else if $point == large-down {
    @media #{$large-down} { @content; }
  }
  @else if $point == large {
    @media #{$large} { @content; }
  }
  @else {
    @warn "This breakpoint '#{$point}' doesn't exist!";
  }
}


